#banner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;

	padding-left: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 100vw;

	margin-bottom: 25px;
	
	background-color: #061C39;
	
	color: white;
	font-family: 'Kanit', sans-serif;
	text-align: left;
}

#leftColumn {
	position: fixed;
	top: 10%;
	left: -2px;
	background-color: #061C39;
	color: white;
	margin-top: 10px;
	height: 80vh;

	background-color: #061C39;

	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: left;

	padding-right: 15px;
}

#cards {
/*	position: absolute;*/
	
	height:1500px;
}

a {
	color: inherit;
	text-decoration: inherit;
}