:root {
	--main-bg-img-col: url("../images/header_img.jpg") ;
	--main-text-font: 'Kanit', sans-serif;
	--main-text-color: white;
}

html {
  height: 100%;
  margin: 0;
  background: black;
  background-size: cover;
  overflow-x: hidden;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
	height: 100px;

	background-image: var(--main-bg-img-col);

	display: flex;
	justify-content: space-around;
	flex-flow: row-reverse nowrap;
	align-content: flex-start;

	box-shadow: 0 0 .1em 0.1em white;
}

header h1 {
	color: var(--main-text-color);
	font-family: var(--main-text-font);
	font-size: 35px;
	text-align: left;
	white-space: nowrap;
}

header a {
	color: inherit;
	text-decoration: inherit;
}

#searchText {
	border-radius: 25px;
	height: 40px;
	width: 200px;
	margin-left: 20px;
	margin-right: 50px;
	font-family: var(--main-text-font);
	text-align: : center;
    border: 3px solid #555;
    background-image: url("../images/searchIconScaled2.png");
    background-repeat: no-repeat;
    background-position: 0;
    text-align: left;
    padding-left: 30px;
    font-size: 15px;
    box-shadow: 0 0 .1em 0.1em white;
}

#searchText:focus{
	box-shadow: 0 0 .4em 0.5em white;
	outline: none;
}


.titleMenu {
	width: 30vw;
	display: flex;
	justify-content: flex-end;
	flex-flow: row-reverse nowrap;
	align-items: center;

}

.menuIconElement {
	width: 40px;
	height: 6px;
	background: white;
	margin: 6px 0;
}

.menuIconClass {
	cursor: pointer;
	margin-right: 20px;
	margin-left: 20px;
}

.headerFilters {
	width: 70vw;
	overflow: hidden;

	display: flex;
	justify-content: flex-end;
	flex-flow: row nowrap;
	align-items: center;
}

.classFilterContainer {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-right: 25px;
}

.classFilterContainer img {
	cursor: pointer;
}


.classFilterContainer:hover img {
	opacity: .4;
}

.classFilterContainer:hover .text {
	opacity: 1;
}

.text {
	color: var(--main-text-color);
	font-family: var(--main-text-font);
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.selected {
 	box-shadow: 0 0 .4em .5em white;
 }

.top {
	z-index: 2;
	transition: transform 1s;

	display: flex;
	flex-direction: row;
	position: absolute;
	top: 100px;

}

.leftColumnClass {
	height: 100vh;
	width: 35vw;
	left: 0;
	overflow: hidden;
	position: fixed;

	background-image: var(--main-bg-img-col);
	z-index: 0;

	padding-right: 25px;
	padding-left: 25px;

	transition: transform 1s;
	transition: opacity 1s;
}

.hideColumn {
	opacity: 0;
}

.leftColumnClass ul {
	color: var(--main-text-color);
	font-family: var(--main-text-font);

    list-style-position: none;
    padding-left: 0;
    font-size: 30px;
	font-weight: bold;
	text-align: left;

}

.leftColumnClass a {
	cursor: pointer;
}

#cardHolder {
	background: url("../images/background_img_full_opac.jpeg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cards {
	z-index: 1;

	transition: transform 1s;
    /*background: url("../images/background_img_full_opac.jpeg") repeat-y;*/
    /*background-size: 100%, 50%;*/
    text-align: center;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 0 .1em 0.1em white;
}

.shiftCards {
	transform: translate3d(35vw, 0px, 0px);
}

.cardImg {
  transition: all .2s ease-in-out;
  margin-bottom: 20px;
 }

.cardImg:hover {
 	transform: scale(1.22);
 }


@media all and (max-width: 480px) {
  header h1 { font-size: 30px; padding-top: 5px;}
}