:root {
	--main-bg-img-col: url("../images/header_img.jpg") ;
	--main-text-font: 'Kanit', sans-serif;
	--main-text-color: white;
}

html {
  background: url("../images/background_img_full.jpeg")  no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
}

header {
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;

	height: 100px;
	margin-bottom: 30px;

	padding-left: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	opacity: .95;
	background-image: var(--main-bg-img-col);
	background-repeat: no-repeat;
}

header h1 {
	color: var(--main-text-color);
	font-family: var(--main-text-font);
	font-size: 35px;
	text-align: left;
	white-space: nowrap;
	float: left;
	text-align: left;

	position: relative;
	display: inline;
}

header a {
	color: inherit;
	text-decoration: inherit;
	position: relative;
	float: left;
}

.menuIconElement {
	width: 40px;
	height: 6px;
	background: white;
	margin: 6px 0;
}

.menuIconClass {
	position: relative;
	display: inline;
	float: right;
	margin-right: 50px;
	margin-top: 30px;

	cursor: pointer;
}

.filterIconClass {
	position: relative;
	display: inline;
	float: right;
	margin-right: 50px;
	margin-top: 35px;
	cursor: pointer;
}

.leftColumnClass {
	position: fixed;
	height: 100vh;
	width: 100px;
	overflow: hidden;
	border: 0;
	
	background-image: var(--main-bg-img-col);
	background-repeat: no-repeat;
	opacity: .95;

	border-radius: 25px;

	padding-right: 25px;
	padding-left: 25px;

	margin-top: 120px;
}

.leftColumnClass ul {
	color: var(--main-text-color);
	font-family: var(--main-text-font);

    list-style-position: none;
    padding-left: 0;
    font-size: 30px;
	font-weight: bold;
	text-align: left;

}

.leftColumnClass a {
	cursor: pointer;
}

#cards {
	position: absolute;
	overflow: hidden;
	width: 85%;
	top: 10%;

	margin-left: 180px;
	opacity: .9;
}

.hideLeftColumn {
	transform: translate(-120vw, 0px);
	transition: transform 1.5s;
}

.showLeftColumn {
	transform: translate(0px, 0px);
	transition: transform .75s;
}

.shiftCards {
	transform: translate(-300px, 0px);
	transition: transform 1.5s;
}

.card {
  width: 300px;
  background: black;
  padding: 5px;
  border: 1px solid black;
  border-radius: 50px;
  
  box-sizing: border-box;
  
  /* Make it look clickable */
  cursor: pointer;
  font-family: var(--main-text-font);
  color: white;
  
  margin: 5px;
  
  /* Center it */
  text-align: center;

 }

.cardImg {
  width: 350px;
  padding: 2px;
  

  /* Make it look clickable */
  cursor: pointer;

  margin: 2px;
  /* Center it */
  text-align: center;
 }

@media all and (max-width: 480px) {
  header h1 { font-size: 30px; padding-top: 5px;}
  #cards { transform: translate(-150px, 0px); transition: transform .5s; }
}

@media all and (min-width: 481px) {
  #cards { transform: translate(0px, 0px); transition: transform .5s; }

}